
/** ADD YOUR AWESOME CODES HERE **/
.can{
    color:rgb(202, 189, 8) !important;
    padding:0 !important;
    padding-right: 10px !important;
    padding-left:10px !important;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: xx-large;
    background-color: rgba(182, 169, 169, 0.5);
    border: 1px none;
    border-radius: 10px;
}